html, body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    color: white;
}

#infoDiv{
    width: 23%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
}

#innerInfoDiv{
    float: left;
}

#objectInfo{
    font-size: x-large;
    white-space: pre-wrap;
}

#simulationSpeed{
    width: 43%;
}

#simulationSpeedLabel{
    position: relative;
    font-size: x-large;
}

#guide{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: large;
    float: right;
}
