html, body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}

#infoDiv{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#innerInfoDiv{
    float: left;
}

#objectInfo{
    color: white;
    font-size: x-large;
    white-space: pre-wrap;
}

#simulationSpeed{
    width: 185px;
}

#simulationSpeedLabel{
    position: relative;
    font-size: x-large;
    color: white;
}

#guide{
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    font-size: large;
    float: right;
}
